@{
    TempData.Keep();
    string currentPage = ViewContext.HttpContext.Request.Path;
    string currentController = ViewContext.RouteData.Values["controller"].ToString();
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
}
<div style="display: flex;">
    <button id="menu-toggle" class="menu-toggle-button d-xl-none" style="position: absolute; top: 10px; left: 10px; z-index: 1000;">
        <i class="bx bx-menu" style="font-size: 24px;"></i>
    </button>
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme hidden-on-mobile">
        <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
            <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
                <span class="app-brand-logo demo">
                    <img src="@Url.Content("~/Content/img/MiKiLogo.png")" class="logo" alt="">
                </span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
            </a>
        </div>

        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">

            <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Admin page</span>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Pages/Account") ? " active open" : "")'>
                <a href="@Url.Action("Index", "AdminProducts")" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-package"></i>
                    <div>Products</div>
                </a>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Admin/Blogs") ? " active open" : "")'>
                <a href="@Url.Action("Index", "AdminBlogs")" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-edit"></i>
                    <div>Blogs</div>
                </a>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Admin/Orders") ? " active open" : "")'>
                <a href="@Url.Action("Index", "AdminOrders")" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-cart-alt"></i>
                    <div>Orders</div>
                </a>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Admin/Users") ? " active open" : "")'>
                <a href="@Url.Action("Index", "AdminUsers")" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-user-circle"></i>
                    <div>Users</div>
                </a>
            </li>
            <li class='menu-item@(currentPage.StartsWith("/Admin/Coupons") ? " active open" : "")'>
                <a href="@Url.Action("Index", "AdminCoupons")" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-gift"></i>
                    <div>Coupons</div>
                </a>
            </li>

            <!-- New Category: Category -->
            <li class='menu-item@(currentPage.StartsWith("/Admin/Category") ? " active open" : "")'>
                <a href="@Url.Action("Index", "AdminCategories")" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-category"></i>
                    <div>Category</div>
                </a>
            </li>

            <!-- New Size: Size -->
            <li class='menu-item@(currentPage.StartsWith("/Admin/Size") ? " active open" : "")'>
                <a href="@Url.Action("Index", "AdminSizes")" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-ruler"></i>
                    <div>Size</div>
                </a>
            </li>

            <!-- New Size: Size -->
            <li class='menu-item@(currentPage.StartsWith("/Admin/Size") ? " active open" : "")'>
                <a href="@Url.Action("Index", "AdminProductSizes")" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-box"></i>
                    <div>Products Stock</div>
                </a>
            </li>
        </ul>

    </aside>
    <!-- Overlay (lớp phủ mờ) -->
    <div id="menu-overlay" class="menu-overlay"></div>

    <div class="container">
        @RenderBody()
    </div>
</div>


<script>
    // Lấy các phần tử HTML
    const menu = document.getElementById("layout-menu");
    const toggleButton = document.getElementById("menu-toggle");
    const overlay = document.getElementById("menu-overlay");
    const container = document.getElementById("main-container");

    // Hàm xử lý khi nhấn nút toggle
    toggleButton.addEventListener("click", () => {
        const isVisible = menu.classList.toggle("visible");
        menu.classList.toggle("hidden-on-mobile", !isVisible);

        // Hiển thị overlay
        overlay.classList.toggle("visible", isVisible);

        // Làm mờ container
        if (isVisible) {
            container.classList.add("blurred");
        } else {
            container.classList.remove("blurred");
        }

        // Ẩn nút toggle
        toggleButton.style.display = isVisible ? "none" : "block";
    });

    // Đóng menu khi nhấn vào overlay
    overlay.addEventListener("click", () => {
        menu.classList.remove("visible");
        menu.classList.add("hidden-on-mobile");
        overlay.classList.remove("visible");
        container.classList.remove("blurred");

        // Hiện lại nút toggle
        toggleButton.style.display = "block";
    });

    // Khi khởi chạy lần đầu, tự kiểm tra kích thước màn hình
    const handleMenuState = () => {
        if (window.innerWidth >= 1200) {
            // Desktop: luôn hiển thị menu
            menu.classList.remove("hidden-on-mobile");
            menu.classList.add("visible");
            overlay.classList.remove("visible");
            container.classList.remove("blurred");

            // Luôn ẩn nút toggle trên desktop
            toggleButton.style.display = "none";
        } else {
            // Mobile: ẩn menu và overlay
            menu.classList.remove("visible");
            menu.classList.add("hidden-on-mobile");
            overlay.classList.remove("visible");
            container.classList.remove("blurred");

            // Hiện nút toggle trên mobile
            toggleButton.style.display = "block";
        }
    };

    // Gọi hàm khi tải trang và khi thay đổi kích thước màn hình
    window.addEventListener("resize", handleMenuState);
    window.addEventListener("load", handleMenuState);
</script>


<environment include="Development">
    <script src="~/wwwroot/vendor/libs/jquery/jquery.js"></script>
    <script src="~/wwwroot/vendor/libs/popper/popper.js"></script>
    <script src="~/wwwroot/vendor/js/bootstrap.js"></script>
    <!-- `perfect-scrollbar` library required by SideNav plugin -->
    <script src="~/wwwroot/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/wwwroot/vendor/js/menu.js"></script>
    <script src="~/wwwroot/js/site.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/wwwroot/vendor/libs/jquery/jquery.js" asp-append-version="true"></script>
    <script src="~/wwwroot/vendor/libs/popper/popper.js" asp-append-version="true"></script>
    <script src="~/wwwroot/vendor/js/bootstrap.js" asp-append-version="true"></script>
    <script src="~/wwwroot/vendor/libs/perfect-scrollbar/perfect-scrollbar.js" asp-append-version="true"></script>
    <script src="~/wwwroot/vendor/js/menu.js" asp-append-version="true"></script>
    <script src="~/wwwroot/js/site.js" asp-append-version="true"></script>
</environment>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<environment include="Development1">
    <link rel="stylesheet" href="~/wwwroot/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="~/wwwroot/css/adminCss.css" />

    <link rel="stylesheet" href="~/wwwroot/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/wwwroot/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/wwwroot/css/demo.css" />

    <link rel="stylesheet" href="~/wwwroot/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="~/wwwroot/vendor/css/pages/page-auth.css" />

    <link rel="stylesheet" href="~/wwwroot/css/site.css" />
</environment>

<environment exclude="Development1">
    <link rel="stylesheet" href="~/wwwroot/vendor/fonts/boxicons.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/wwwroot/vendor/css/core.css" class="template-customizer-core-css" asp-append-version="true" />
    <link rel="stylesheet" href="~/wwwroot/vendor/css/theme-default.css" class="template-customizer-theme-css" asp-append-version="true" />
    <link rel="stylesheet" href="~/wwwroot/css/demo.css" />

    <link rel="stylesheet" href="~/wwwroot/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/wwwroot/vendor/css/pages/page-auth.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/wwwroot/css/site.css" asp-append-version="true" />
</environment>

@{
    TempData["appName"] = "sneat";
    TempData["appUrl"] = "https://demos.themeselection.com/sneat-aspnet-core-mvc-admin-template-free/html/";
    @* Footer & Misc urls *@
    TempData["authorName"] = "ThemeSelection";
    TempData["authorUrl"] = "https://themeselection.com/";
    TempData["licenseUrl"] = "https://themeselection.com/license/";
    TempData["productPage"] = "https://themeselection.com/item/sneat-free-aspnet-core-mvc-admin-template/";
    TempData["support"] = "https://github.com/themeselection/sneat-bootstrap-html-aspnet-core-mvc-admin-template-free";
    TempData["documentation"] = "https://demos.themeselection.com/sneat-bootstrap-html-admin-template/documentation/net-core-mvc-introduction.html";
    TempData["twitterUrl"] = "https://twitter.com/Theme_Selection";
    TempData["instagramUrl"] = "https://www.instagram.com/themeselection/";
    TempData["githubUrl"] = "https://github.com/themeselection";
    TempData["facebookUrl"] = "https://www.facebook.com/ThemeSelections/";
}
