@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-header" class="login-header">
    <h2>Login</h2>
    <p>Welcome back! Please log in to continue.</p>
</section>

<section id="form-details" class="section-p1">
    <form action="@Url.Action("Login", "User")" method="post" class="login-form">
        <span>LOGIN TO YOUR ACCOUNT</span>
        <h2>Enter your credentials</h2>
        <input type="email" name="email" placeholder="Email" value="@ViewBag.Email" required>
        <input type="password" name="password" placeholder="Password" value="@ViewBag.Password" required>
        <button type="submit" class="normal">Login</button>
        <p>Don't have an account? <a href="@Url.Action("Register", "User")">Register here</a></p>


    </form>
    <div class="modal" id="errorModal">
        <div class="modal-content">
            <img src="@Url.Content("~/Content/img/icon/error.png")" alt="Error Icon" class="modal-icon">
            <h1 class="modal-title">
                Error</h2>
                <p id="errorMessage">There was an error with your registration.</p>
                <button type="button" onclick="closeModal()" class="modal-button">Close</button>
        </div>
    </div>
    <div class="form-image">
        <img src="@Url.Content("~/Content/img/about/a6.jpg")" alt="">
    </div>
</section>

<script>
    window.onload = function () {
        var errorMessage = '@ViewBag.ErrorMessage';
        if (errorMessage) {
            document.getElementById("errorMessage").innerText = errorMessage;
            document.getElementById("errorModal").style.display = "flex";
        }
    }
</script>