@model IEnumerable<E_Commerce_Web.Models.Blog>

@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/Sections/Menu/_VerticalMenu.cshtml";
}

<link rel="stylesheet" href="~/wwwroot/css/CRUD_Theme.css" />

<h2>Blogs</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.Content)</th>
                <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                <th>@Html.DisplayNameFor(model => model.Author)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Content)</td>
                        <td>@Html.DisplayFor(modelItem => item.ImageUrl)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                        <td>@Html.DisplayFor(modelItem => item.Author)</td>
                        <td class="action-links">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center">No blogs available.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
