@model E_Commerce_Web.Models.Product

@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-header">
    <h2>#stayhome</h2>
    <p>Save more with coupons & up to 70% off!</p>
</section>

<section id="prodetails" class="section-p1">
    <div class="single-pro-image" ">
        <img src="@Url.Content("~/Content/img/products/" + Model.ImagePath)" width="100%" id="MainImg" alt="">
    </div>
    <div class="single-pro-details">
        <h6>
            <a href="@Url.Action("Shop", "Product")">Shop</a>
            /
            <a href="@Url.Action("Shop", new { categoryId = @Model.Category.CategoryID})">@Model.Category.CategoryName</a>
        </h6>
        <h4 style="font-size: 32px">@Model.ProductName</h4>
        <h2 style="color: #088178">@Model.Price.ToString("C")</h2>
        <form action="@Url.Action("AddToCart", "Cart")" method="post">
            <select id="size-select" name="sizeID" required>
                <option disabled selected value=""> -- Select size -- </option>

                @foreach (var size in Model.ProductSizes)
                {
                    <option value="@size.SizeID" @(size.Stock <= 0 ? "disabled" : "")>
                        @size.Size.Name

                        @if (size.Stock <= 0)
                        {
                            @: (Out of Stock)
                        }
                    </option>
                }
            </select>
            <input type="number" id="quantity" value="1" min="1" max="99" name="quantity">
            <input type="hidden" name="productId" value="@Model.ProductID">
            <button class="normal" type="submit">Add To Cart</button>
        </form>
        <h4>Product Details</h4>
        <span>@Model.Description</span>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Other products you may be interested in</p>
    <div class="pro-container">
        @foreach (var relatedProduct in ViewBag.RelatedProducts)
        {
            <div class="pro" onclick="window.location.href='@Url.Action("ProductDetails", "Product", new { productId = relatedProduct.ProductID })'">
                <img src="@Url.Content("~/Content/img/products/" + relatedProduct.ImagePath)" alt="">
                <div class="des">
                    <span>@relatedProduct.Category.CategoryName</span>
                    <h5>@relatedProduct.ProductName</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>@relatedProduct.Price.ToString("C")</h4>
                </div>
                <a href="@Url.Action("ProductDetails", "Product", new { productId = relatedProduct.ProductID })"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        }
    </div>
</section>

@Html.Partial("_Newsletter")
