@model E_Commerce_Web.Models.Product

@{
    ViewBag.Title = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="page-header">
    <h2>#stayhome</h2>
    <p>Save more with coupons & up to 70% off!</p>
</section>

<section id="prodetails" class="section-p1">
    <div class="single-pro-image">
        <img src="@Url.Content("~/Content/img/products/" + Model.ImagePath)" width="100%" id="MainImg" alt="">

        <div class="small-img-group">
            <div class="small-img-col">
                <img src="@Url.Content("~/f1.jpg")" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="@Url.Content("~/f2.jpg")" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="@Url.Content("~/f3.jpg")" width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img src="@Url.Content("~/f4.jpg")" width="100%" class="small-img" alt="">
            </div>
        </div>
    </div>

    <div class="single-pro-details">
        <h6>Home / @Model.Category.CategoryName</h6>
        <h4 style="font-size: 32px">@Model.ProductName</h4>
        <h2 style="color: #088178">@Model.Price.ToString("C")</h2>
        <select>
            <option>Select Size</option>
            <option>XL</option>
            <option>XXL</option>
            <option>Small</option>
            <option>Large</option>
        </select>
        <input type="number" value="1">
        <button class="normal">Add To Cart</button>
        <h4>Product Details</h4>
        <span>@Model.Description</span>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Other products you may be interested in</p>
    <div class="pro-container">
        @foreach (var relatedProduct in ViewBag.RelatedProducts)
        {
            <div class="pro" onclick="window.location.href='@Url.Action("ProductDetails", "Product", new { productId = relatedProduct.ProductID })'">
                <img src="@Url.Content("~/Content/img/products/" + relatedProduct.ImagePath)" alt="">
                <div class="des">
                    <span>@relatedProduct.Category.CategoryName</span>
                    <h5>@relatedProduct.ProductName</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>@relatedProduct.Price.ToString("C")</h4>
                </div>
                <a href="@Url.Action("ProductDetails", "Product", new { productId = relatedProduct.ProductID })"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        }
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>

<script>
    var MainImg = document.getElementById("MainImg");
    var smallimg = document.getElementsByClassName("small-img");

    smallimg[0].onclick = function () {
        MainImg.src = smallimg[0].src;
    }
    smallimg[1].onclick = function () {
        MainImg.src = smallimg[1].src;
    }
    smallimg[2].onclick = function () {
        MainImg.src = smallimg[2].src;
    }
    smallimg[3].onclick = function () {
        MainImg.src = smallimg[3].src;
    }
</script>
