@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<section id="page-header" class="about-header">
    <h2>#knowus</h2>
    <p>Get to know us better!</p>
</section>

<section id="about-head" class="section-p1">
    <img src="@Url.Content("~/Content/img/about/a6.jpg")" alt="">
    <div>
        <h2>Who We Are?</h2>
        <p>
            We are group 7 of .Net Technology class HK1_2024_503112. With the final projects assigned by the lecturer, we decided to choose the topic of E-Commerce Website to present the understanding and knowledge that we have learned in this subject. The goal of this project is to create a user-friendly, beautiful E-Commerce Website that provides functions that allow users to order products. In addition, we would like to express our sincere thanks to M.Eng. Nguyen Ngoc Phien for guiding us in this project.
        </p>

        <abbr title="">E-Commerce Website For Final Project</abbr>

        <br><br>

        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
            Mai Gia Minh - 521H0102 | Dang Lu Anh Kiet - 521H0090
        </marquee>
    </div>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f1.png")" alt="">
        <h6>Free Shipping</h6>
    </div>

    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f2.png")" alt="">
        <h6>Online Order</h6>
    </div>

    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f3.png")" alt="">
        <h6>Save Money</h6>
    </div>

    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f4.png")" alt="">
        <h6>Promotions</h6>
    </div>

    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f5.png")" alt="">
        <h6>Happy Sell</h6>
    </div>

    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f6.png")" alt="">
        <h6>24/7 Support</h6>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>
