@model IEnumerable<E_Commerce_Web.Models.Product>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="hero">
    <h4>Trade-in-offer</h4>
    <h2>Super value deals</h2>
    <h1>On all products</h1>
    <p>Save more with coupons & up to 70% off!</p>
    <button>Shop now</button>
</section>


<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f1.png")" alt="">
        <h6>Free Shipping</h6>
    </div>

    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f2.png")" alt="">
        <h6>Online Order</h6>
    </div>

    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f3.png")" alt="">
        <h6>Svae Money</h6>
    </div>

    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f4.png")" alt="">
        <h6>Promotions</h6>
    </div>

    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f5.png")" alt="">
        <h6>Happy Sell</h6>
    </div>

    <div class="fe-box">
        <img src="@Url.Content("~/Content/img/features/f6.png")" alt="">
        <h6>24/7 Support</h6>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Our Collection Morden Design</p>
    <div class="pro-container">
        @foreach (var product in ViewBag.FeaturedProducts)
        {
            <div class="pro" onclick="window.location.href='@Url.Action("ProductDetails", "Product", new { productId = product.ProductID })'">
                <img src="@Url.Content("~/Content/img/products/" + product.ImagePath)" alt="">
                <div class="des">
                    <span>@product.Category.CategoryName</span>
                    <h5>@product.ProductName</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>@product.Price.ToString("C")</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        }

    </div>

</section>

<section id="banner" class="section-m1">
    <h4>Repair Services</h4>
    <h2>Up to <Span>70% Off</Span> - All T-Shirts & Accessories</h2>
    <button class="normal">Explore More</button>
</section>

<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>New items arrived</p>
    <div class="pro-container">
        @foreach (var product in ViewBag.NewArrivals)
        {
            <div class="pro" onclick="window.location.href='@Url.Action("ProductDetails", "Product", new { productId = product.ProductID })'">
                <img src="@Url.Content("~/Content/img/products/" + product.ImagePath)" alt="">
                <div class="des">
                    <span>@product.Category.CategoryName</span>
                    <h5>@product.ProductName</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>@product.Price.ToString("C")</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        }
    </div>

</section>

<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>crazy deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>The best classic dress is on sale at cara</span>
        <button class="white">Learn More</button>
    </div>

    <div class="banner-box banner-box2">
        <h4>spring/summber</h4>
        <h2>up comming season</h2>
        <span>The best classic dress is on sale at cara</span>
        <button class="white">Collection</button>
    </div>
</section>

<section id="banner3">
    <div class="banner-box">
        <h2>SEASONAL SALE</h2>
        <h3>Winter Collection -50% OFF</h3>
    </div>

    <div class="banner-box banner-box2">
        <h2>NEW FOOTWEAR COLLECTION</h2>
        <h3>Spring / Summer 2024</h3>
    </div>

    <div class="banner-box banner-box3">
        <h2>T-SHIRTS</h2>
        <h3>New Trendy Prints</h3>
    </div>

</section>

@Html.Partial("_Newsletter")
