@model E_Commerce_Web.Models.Order

@{
    ViewBag.Title = "Create Order";
    Layout = "~/Views/Shared/Sections/Menu/_VerticalMenu.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4">Create Order</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Order Details</h4>
            </div>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.UserID, "User", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-select" })
                        @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.ShippingFee, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.ShippingFee, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShippingFee, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.Subtotal, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.Subtotal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Subtotal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.PaymentMethod, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.PaymentMethod, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.RecipientName, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.RecipientName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RecipientName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.RecipientPhone, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.RecipientPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RecipientPhone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.RecipientAddress, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.RecipientAddress, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RecipientAddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mb-3 row">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                    <div class="col-sm-9">
                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", rows = 3 })
                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end">
                    <input type="submit" value="Create" class="btn btn-primary me-2" />
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    }
</div>
