@model IEnumerable<E_Commerce_Web.Models.Order>

@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/Sections/Menu/_VerticalMenu.cshtml";
}

<link rel="stylesheet" href="~/wwwroot/css/CRUD_Theme.css" />

<h2>Orders</h2>

<!-- BÊN DƯỚI LÀ THÔNG TIN CÁ NHÂN CỦA TÔI <p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-sm" })
</p>-->

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.User)</th>
                <th>@Html.DisplayNameFor(model => model.OrderDate)</th>
                <th>@Html.DisplayNameFor(model => model.Discount)</th>
                <th>@Html.DisplayNameFor(model => model.ShippingFee)</th>
                <th>@Html.DisplayNameFor(model => model.TotalAmount)</th>
                <th>@Html.DisplayNameFor(model => model.Subtotal)</th>
                <th>@Html.DisplayNameFor(model => model.PaymentMethod)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>@Html.DisplayNameFor(model => model.RecipientName)</th>
                <th>@Html.DisplayNameFor(model => model.RecipientPhone)</th>
                <th>@Html.DisplayNameFor(model => model.RecipientAddress)</th>
                <th>@Html.DisplayNameFor(model => model.Note)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.User.UserID)</td>
                        <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Discount)</td>
                        <td>@Html.DisplayFor(modelItem => item.ShippingFee)</td>
                        <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                        <td>@Html.DisplayFor(modelItem => item.Subtotal)</td>
                        <td>@Html.DisplayFor(modelItem => item.PaymentMethod)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.RecipientName)</td>
                        <td>@Html.DisplayFor(modelItem => item.RecipientPhone)</td>
                        <td>@Html.DisplayFor(modelItem => item.RecipientAddress)</td>
                        <td>@Html.DisplayFor(modelItem => item.Note)</td>
                        <td class="action-links">
                            @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Details", "Details", new { id = item.OrderID }, new { @class = "btn btn-primary btn-sm" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.OrderID }, new { @class = "btn btn-danger btn-sm" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="13" class="text-center">No orders available.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
