<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - E-commerce Site</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>
<body>
    <!-- Header chung cho mọi trang -->

    <section id="header">
        <a href="#"><img src="@Url.Content("~/Content/img/logo.png")" class="logo" alt=""></a>

        @{
            string currentController = ViewContext.RouteData.Values["controller"].ToString();
            string currentAction = ViewContext.RouteData.Values["action"].ToString();
        }

        <div>
            <ul id="navbar">
                <li><a class="@(currentController == "Home" && currentAction == "Index" ? "active" : "")" href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a class="@(currentController == "Product" && (currentAction == "Shop" || currentAction == "ProductDetails") ? "active" : "")" href="@Url.Action("Shop", "Product")">Shop</a></li>
                <li><a class="@(currentController == "Home" && currentAction == "Blog" ? "active" : "")" href="@Url.Action("Blog", "Home")">Blog</a></li>
                <li><a class="@(currentController == "Home" && currentAction == "About" ? "active" : "")" href="@Url.Action("About", "Home")">About</a></li>
                <li><a class="@(currentController == "Home" && currentAction == "Contact" ? "active" : "")" href="@Url.Action("Contact", "Home")">Contact</a></li>
                <li id="lg-bag"><a class="@(currentController == "Cart" && currentAction == "Index" ? "active" : "")" href="@Url.Action("Index", "Cart")"><i class="far fa-shopping-bag"></i></a></li>
                @if (Session["UserID"] != null)
                {
                    <li id="lg-bag">
                        <a href="@Url.Action("Profile", "User")" class="avt-img">
                            <img src="@Url.Content("~/Content/img/avt/" + Session["Avatar"].ToString())" alt="Avatar" class="avatar-img">
                        </a>
                    </li>
                }
                else
                {
                    <li id="lg-bag"><a class="@(currentController == "User" && currentAction == "Login" ? "active" : "")" href="@Url.Action("Login", "User")"><i class="far fa-user"></i></a></li>
                }


                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>

        <div id="mobile">
            @if (Session["UserID"] != null)
            {
                <a href="@Url.Action("Profile", "User")">
                    <img src="@Url.Content("~/Content/img/avt/" + Session["Avatar"].ToString())" alt="Avatar" class="avatar-img">
                </a>
            }
            else
            {
                <a href="@Url.Action("Login", "User")"><i class="far fa-user"></i></a>
            }
            <a href="@Url.Action("Index", "Cart")"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <!-- Nội dung động được thay đổi theo từng View sẽ được hiển thị ở đây -->
    <div class="container">
        @RenderBody()
    </div>

    <!-- Footer chung cho mọi trang -->
    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="@Url.Content("~/Content/img/logo.png")" alt="">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 19 Nguyen Huu Tho, Tan Hung, 7 District, Ho Chi Minh City</p>
            <p><strong>Phone:</strong> (+84) 903 614 342</p>
            <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat </p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About Us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact Us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="@Url.Content("~/Content/img/pay/app.jpg")" alt="">
                <img src="@Url.Content("~/Content/img/pay/play.jpg")" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="@Url.Content("~/Content/img/pay/pay.png")" alt="">
        </div>

        <div class="copyright">
            <p>© 2024, Mai Gia Minh - 521H0102 | Dang Lu Anh Kiet - 521H0090</p>
        </div>
    </footer>

    <!-- Link JavaScript -->
    <script src="@Url.Content("~/Scripts/script.js")"></script>
</body>
</html>
