@model List<E_Commerce_Web.Models.Blog>

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="page-header" class="blog-header">
    <h2>#readmore</h2>
    <p>Read all case studies about our products!</p>
</section>

<section id="blog">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var blog in Model)
        {
            <div class="blog-box">
                <div class="blog-img">
                    <img src="@Url.Content("~/Content/img/blog/") + @blog.ImageUrl" alt="">
                </div>
                <div class="blog-details">
                    <h4>@blog.Title</h4>
                    <p>@blog.Content.Substring(0, 100)...</p>
                    <a href="@Url.Action("BlogDetail", "Blog", new { id = blog.Id })">CONTINUE READING</a>
                </div>
                <h1>@blog.CreatedAt.ToString("dd/MM")</h1>
            </div>
        }
    }
    else
    {
        <h1 style="text-align:center;">No blogs available.</h1>
    }

</section>


<section id="pagination" class="section-p1">

    @if (ViewBag.TotalPages > 1)
    {
        if (ViewBag.CurrentPage > 1)
        {
            <a class="active" href="@Url.Action("Index", "Blog", new { page = ViewBag.CurrentPage - 1 })"> 1 </a>
        }

        int startPage = Math.Max(1, ViewBag.CurrentPage - 1);
        int endPage = Math.Min(ViewBag.TotalPages, ViewBag.CurrentPage + 1);

        if (endPage - startPage < 2)
        {
            if (startPage == 1)
            {
                endPage = Math.Min(startPage + 2, ViewBag.TotalPages);
            }
            else if (endPage == ViewBag.TotalPages)
            {
                startPage = Math.Max(1, endPage - 2);
            }
        }


        for (int i = startPage; i <= endPage; i++)
        {
            <a class="@(i == ViewBag.CurrentPage ? "selected" : "")" href="@Url.Action("Index", "Blog", new { page = i })">@i</a>
        }

        if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a href="@Url.Action("Index", "Blog", new { page = ViewBag.CurrentPage + 1 })">
                <i class="fal fa-long-arrow-alt-right"></i>
            </a>
        }
    }

</section>

@Html.Partial("_Newsletter")
