
@{
    ViewBag.Title = "Checkout";
    var userId = Session["UserID"];
    if (userId == null)
    {
        Response.Redirect(Url.Action("Login", "User"));
    }
}

<section id="checkout_pane" class="section-p2">
    @*<h4>Checkout <div class="underline"></div></h4>*@
    <nav class="tab-nav">
        <ul>
            <li class="tab-link active">1. INFORMATION</li>
            <li class="tab-link">2. PAYMENT</li>
        </ul>
    </nav>

    <div>
        <h5>CUSTOMER INFORMATION</h5>
        <section id="form-details" class="user">
            <div class="tab-content" style="width: 100%">
                <div id="update-info" class="tab-pane active">
                    <form action="" method="post">
                        <input value="@ViewBag.Name" type="text" name="fullname" placeholder="Full Name" readonly>
                        <input value="@ViewBag.Email" type="email" name="email" placeholder="Email" readonly>
                        <input value="@ViewBag.Phone" type="number" name="userPhone" placeholder="Phone Number" readonly>
                    </form>
                </div>

            </div>
        </section>

        <h5>DELIVERY INFORMATION</h5>
        <section id="form-details" class="user">
            <div class="tab-content" style="width: 100%">
                <div id="update-info" class="tab-pane active">
                    <form action="@Url.Action("Payment", "Cart")" method="post" id="deliveryForm">

                        <div>
                            <div class="input-flex-row">
                                <input value="" type="text" name="name" placeholder="Recipient's Full Name" style="margin-right: 10px;" required>
                                <input value="" type="number" name="recipientPhone" placeholder="Recipient's Phone" style="margin-left: 10px;" required>
                            </div>
                        </div>
                        <div>
                            <div class="input-flex-row">
                                <select class="css_select no-border" id="tinh" name="province" style="margin-right: 10px;" required>
                                    <option value="" selected disabled>-- Select your Province --</option>
                                </select>

                                <select class="css_select no-border" id="quan" name="district" style="margin-left: 10px;" required>
                                    <option value="" selected disabled>-- Select your District --</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="input-flex-row">
                                <select class="css_select" id="phuong" name="ward" style="margin-right: 10px;" required>
                                    <option value="" selected disabled>-- Select your Ward --</option>
                                </select>

                                <input value="" type="text" name="address" placeholder="Recipient's Address" style="margin-left: 10px;" required>
                            </div>
                        </div>

                        <input value="" type="text" name="note" placeholder="Other notes">
                    </form>
                </div>

            </div>
        </section>

        <section id="form-details" class="user">
            <div class="tab-content" style="width: 100%">
                <div id="update-info" class="tab-pane active" style="justify-content: space-between">
                    <div>
                        <h3>Cart Totals</h3>
                        <h6 class="warning">Excluding discounts and shipping fees</h6>
                    </div>
                    <div>
                        <h3 style="font-size: 17px; font-weight: 500">@ViewBag.Total.ToString("C")</h3>
                    </div>
                </div>
                <button class="pay-btn" type="button" onclick="submitForm()">Continue</button>
            </div>
        </section>
    </div>
</section>

<div id="payment-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closePaymentModal()">&times;</span>
        <h3>Select Payment Method</h3>

        <div class="payment-option" onclick="updatePaymentMethod('Momo E-wallet', 'momo.png')">
            <img src="@Url.Content("~/Content/img/pay/momo.png")" alt="Momo E-wallet">
            <span>Momo E-wallet</span>
        </div>
        <div class="payment-option" onclick="updatePaymentMethod('ZaloPay E-wallet', 'zalopay.png')">
            <img src="@Url.Content("~/Content/img/pay/zalopay.png")" alt="ZaloPay">
            <span>ZaloPay E-wallet</span>
        </div>
        <div class="payment-option" onclick="updatePaymentMethod('Credit Card', 'creditcard.png')">
            <img src="@Url.Content("~/Content/img/pay/creditcard.png")" alt="Credit Card">
            <span>Credit Card</span>
        </div>
        <div class="payment-option" onclick="updatePaymentMethod('Cash On Delivery (COD)', 'cod.png')">
            <img src="@Url.Content("~/Content/img/pay/cod.png")" alt="Credit Card">
            <span>Cash On Delivery (COD)</span>
        </div>
    </div>
</div>

<div id="deliveryModal" class="modal">
    <div class="modal-content" style="margin: 15% auto;">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <h3 style="color: #EC1A2D ">Missing information</h3>
        <p id="errorMessage"></p>
        <button onclick="closeModal()" class="modal-button">Close</button>
    </div>
</div>

<script src="https://esgoo.net/scripts/jquery.js"></script>
<script>
    $(document).ready(function () {
        $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
            if (data_tinh.error == 0) {
                $.each(data_tinh.data, function (key_tinh, val_tinh) {
                    $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.name_en + '</option>');
                });
                $("#tinh").change(function (e) {
                    var idtinh = $(this).val();
                    $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                        if (data_quan.error == 0) {
                            $("#quan").html('<option value="0">-- Select your District --</option>');
                            $("#phuong").html('<option value="0">-- Select your Ward --</option>');
                            $.each(data_quan.data, function (key_quan, val_quan) {
                                $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.name_en + '</option>');
                            });
                            $("#quan").change(function (e) {
                                var idquan = $(this).val();
                                $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                    if (data_phuong.error == 0) {
                                        $("#phuong").html('<option value="0">-- Select your Ward --</option>');
                                        $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                            $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.name_en + '</option>');
                                        });
                                    }
                                });
                            });

                        }
                    });
                });

            }
        });
    });
</script>

<script>
    function submitForm() {
        var recipientName = document.getElementsByName("name")[0].value.trim();
        var recipientPhone = document.getElementsByName("recipientPhone")[0].value.trim();
        var province = document.getElementsByName("province")[0].value;
        var district = document.getElementsByName("district")[0].value;
        var ward = document.getElementsByName("ward")[0].value;
        var address = document.getElementsByName("address")[0].value.trim();

        if (!recipientName || !recipientPhone || !province || !district || !ward || !address) {
            document.getElementById('deliveryModal').style.display = 'block';
            document.getElementById("errorMessage").innerText = "Please complete all required fields in the section.";
        } else {
            document.getElementById("deliveryForm").submit();
        }
    }
</script>