
@{
    ViewBag.Title = "Checkout";
}

<section id="checkout_pane" class="section-p2">
    @*<h4>Checkout <div class="underline"></div></h4>*@
    <nav class="tab-nav">
        <ul>
            <li class="tab-link" onclick="openTab(event, 'update-info')">1. INFORMATION</li>
            <li class="tab-link active" onclick="openTab(event, 'change-password')">2. PAYMENT</li>
        </ul>
    </nav>
    
    <div style="display: none">
        <h5>CUSTOMER INFORMATION</h5>
        <section id="form-details" class="user">
            <div class="tab-content" style="width: 100%">
                <div id="update-info" class="tab-pane active">
                    <form action="" method="post">
                        <input value="" type="text" name="fullname" placeholder="Full Name" readonly>
                        <input value="" type="email" name="email" placeholder="Email" readonly>
                        <input value="" type="number" name="userPhone" placeholder="Phone Number" readonly>
                    </form>
                </div>

            </div>
        </section>

        <h5>DELIVERY INFORMATION</h5>
        <section id="form-details" class="user">
            <div class="tab-content" style="width: 100%">
                <div id="update-info" class="tab-pane active">
                    <form action="" method="post">

                        <div>
                            <div class="input-flex-row">
                                <input value="" type="text" name="name" placeholder="Recipient's Full Name" style="margin-right: 10px;" required>
                                <input value="" type="number" name="recipientPhone" placeholder="Recipient's Phone" style="margin-left: 10px;" required>
                            </div>
                        </div>
                        <div>
                            <div class="input-flex-row">
                                <select class="css_select no-border" id="tinh" name="province" style="margin-right: 10px;" required>
                                    <option value="" selected disabled>-- Select your Province --</option>
                                </select>

                                <select class="css_select no-border" id="quan" name="district" style="margin-left: 10px;" required>
                                    <option value="" selected disabled>-- Select your District --</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <div class="input-flex-row">
                                <select class="css_select" id="phuong" name="ward" style="margin-right: 10px;" required>
                                    <option value="" selected disabled>-- Select your Ward --</option>
                                </select>

                                <input value="" type="text" name="address" placeholder="Recipient's Address" style="margin-left: 10px;" required>
                            </div>
                        </div>

                        <input value="" type="text" name="note" placeholder="Other notes">


                    </form>
                </div>

            </div>
        </section>

        <section id="form-details" class="user">
            <div class="tab-content" style="width: 100%">
                <div id="update-info" class="tab-pane active" style="justify-content: space-between">
                    <div>
                        <h3>Cart Totals</h3>
                        <h6 class="warning">Excluding discounts and shipping fees</h6>
                    </div>
                    <div>
                        <h3 style="font-size: 17px; font-weight: 500">$300.4</h3>
                    </div>
                </div>
                <button class="pay-btn">Continue</button>

            </div>
        </section>
    </div>
    <div>
        <h5>DELIVERY INFORMATION</h5>
        <section id="form-details" class="user">
            <div class="tab-content" style="width: 100%">
                <div class="payment">
                    <h3>User</h3>
                    <h3 class="content">Mai Gia Minh</h3>
                </div>
                <div class="payment">
                    <h3>User's Phone</h3>
                    <h3 class="content">0903614342</h3>
                </div>
                <div class="payment">
                    <h3>Email</h3>
                    <h3 class="content">minh.mgia@gmail.com</h3>
                </div>
                <div class="payment">
                    <h3>Receive At</h3>
                    <h3 class="content">63 Pham Van Chieu, F.14, Go Vap District</h3>
                </div>
                <div class="payment">
                    <h3>Recipient</h3>
                    <h3 class="content">Mai Gia Minh - 0903614342</h3>
                </div>
                <div class="payment">
                    <h3>Note</h3>
                    <h3 class="content"></h3>
                </div>

            </div>
        </section>

        <h5>PAYMENT INFO</h5>
        <section id="form-details" class="user">
            <div class="tab-content horizontal-box" onclick="openPaymentModal()" style="width: 100%">
                <img id="payment-image" src="@Url.Content("~/Content/img/pay/payment.png")" alt="Image description">
                <div id="payment-title" class="pay-title">Choose payment method</div>
                <div class="right-text">Change &nbsp; <i class="fas fa-angle-right"></i></div>
            </div>
        </section>

        <h5>PAYMENT TOTALS</h5>
        <section id="form-details" class="checkout">
            <section id="cart-add" class="">
                <div id="subtotal" style="width: 100%">
                    <div id="coupon" style="width: 100%">
                        <h3>Apply Coupon</h3>
                        <form action="@Url.Action("ApplyCoupon", "Cart")" method="post">
                            <div style="display: flex; width: 100%">
                                <input type="text" name="couponCode" placeholder="Enter Your Coupon">
                                <button type="submit" class="normal" style="width: 30%; margin-bottom: 20px;">Apply</button>
                            </div>
                        </form>
                        @if (Session["CouponCode"] != null)
                        {
                            <p>Coupon "<strong>@Session["CouponCode"]</strong>" applied!</p>
                            <form action="@Url.Action("RemoveCoupon", "Cart")" method="post">
                                <button type="submit" class="normal">Remove Coupon</button>
                            </form>
                        }
                        else if (!string.IsNullOrEmpty(ViewBag.Message))
                        {
                            <p style="color: red;">@ViewBag.Message</p>
                        }
                    </div>
                    <h3>Cart Totals</h3>
                    <table>
                        <tr>
                            <td>Cart Subtotal</td>
                            <td style="text-align:end">$399.00</td>
                        </tr>
                        <tr>
                            <td>Shipping</td>
                            <td style="text-align:end">$399.00</tdstyle="text-align:end">
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td style="text-align:end">$399.00</td>
                        </tr>
                        <tr>
                            <td><strong>Total</strong></td>
                            <td style="text-align:end"><strong>$399.00</strong></td>
                        </tr>
                    </table>

                    <button class="normal">Proceed to checkout</button>
                </div>
            </section>
        </section>
    </div>
</section>

<div id="payment-modal" class="modal">
    <div class="modal-content">
        <span class="close-btn" onclick="closePaymentModal()">&times;</span>
        <h3>Select Payment Method</h3>

        <div class="payment-option" onclick="updatePaymentMethod('Momo E-wallet', 'momo.png')">
            <img src="@Url.Content("~/Content/img/pay/momo.png")" alt="Momo E-wallet">
            <span>Momo E-wallet</span>
        </div>
        <div class="payment-option" onclick="updatePaymentMethod('ZaloPay E-wallet', 'zalopay.png')">
            <img src="@Url.Content("~/Content/img/pay/zalopay.png")" alt="ZaloPay">
            <span>ZaloPay E-wallet</span>
        </div>
        <div class="payment-option" onclick="updatePaymentMethod('Credit Card', 'creditcard.png')">
            <img src="@Url.Content("~/Content/img/pay/creditcard.png")" alt="Credit Card">
            <span>Credit Card</span>
        </div>
        <div class="payment-option" onclick="updatePaymentMethod('Cash On Delivery (COD)', 'cod.png')">
            <img src="@Url.Content("~/Content/img/pay/cod.png")" alt="Credit Card">
            <span>Cash On Delivery (COD)</span>
        </div>
    </div>
</div>

<script src="https://esgoo.net/scripts/jquery.js"></script>
<script>
    $(document).ready(function() {
        $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm',function(data_tinh){
            if(data_tinh.error==0){
               $.each(data_tinh.data, function (key_tinh,val_tinh) {
                  $("#tinh").append('<option value="'+val_tinh.id+'">'+val_tinh.name_en+'</option>');
               });
               $("#tinh").change(function(e){
                    var idtinh=$(this).val();
                    $.getJSON('https://esgoo.net/api-tinhthanh/2/'+idtinh+'.htm',function(data_quan){
                        if(data_quan.error==0){
                            $("#quan").html('<option value="0">-- Select your District --</option>');
                            $("#phuong").html('<option value="0">-- Select your Ward --</option>');
                           $.each(data_quan.data, function (key_quan,val_quan) {
                               $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.name_en +'</option>');
                           });
                           $("#quan").change(function(e){
                                var idquan=$(this).val();
                                $.getJSON('https://esgoo.net/api-tinhthanh/3/'+idquan+'.htm',function(data_phuong){
                                    if(data_phuong.error==0){
                                        $("#phuong").html('<option value="0">-- Select your Ward --</option>');
                                       $.each(data_phuong.data, function (key_phuong,val_phuong) {
                                           $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.name_en +'</option>');
                                       });
                                    }
                                });
                           });

                        }
                    });
               });

            }
        });
     });
</script>