@model List<E_Commerce_Web.Models.CartItem>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="page-header" class="about-header">
    <h2>#let's_talk</h2>
    <p>Please leave a message, We would like to hear from you!</p>
</section>

<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Remove</td>
                <td>Image</td>
                <td>Product</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <form action="@Url.Action("RemoveFromCart", "Cart")" method="post" style="display:inline;">
                            <input type="hidden" name="productId" value="@item.ProductId" />
                            <input type="hidden" name="size" value="@item.Size" />
                            <button type="submit" style="border: none; background: none;">
                                <i class="far fa-times-circle" style="color: red; cursor: pointer;"></i>
                            </button>
                        </form>
                    </td>
                    <td><img src="@Url.Content("~/Content/img/products/" + item.ImagePath)" alt=""></td>
                    <td>@item.ProductName &nbsp;<span style="font-weight: 600; font-style: italic">(@item.Size.ToString())</span></td>
                    <td>@item.Price.ToString("C")</td>
                    <td>@item.Quantity</td>
                    <td>@item.Subtotal.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div id="coupon">
        <h3>Apply Coupon</h3>
        <div>
            <input type="text" placeholder="Enter Your Coupon">
            <button class="normal">Apply</button>
        </div>
    </div>
    <div id="subtotal">
        <h3>Cart Totals</h3>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td>@ViewBag.CartSubtotal.ToString("C")</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td>@ViewBag.Shipping.ToString("C")</td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>@ViewBag.Discount.ToString("C")</td>
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                <td><strong>@ViewBag.Total.ToString("C")</strong></td>
            </tr>
        </table>

        <button class="normal">Proceed to checkout</button>
    </div>
</section>
